body{
font-family: Arial, Helvetica, sans-serif;
background: linear-gradient(to right, rgb(110, 23, 143), rgb(29, 136, 207));
color: #fff;
text-align: center;
}

.container{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, 50%);
width: 50%;
background-color: rgb(0, 0, 0, 0.5);
padding: 1em;
border-radius: 10px;
}

button{
background-color: slateblue;
color: #fff;
border: none;
padding: 1em;
border-radius: 10px;
box-shadow: 1px 1px 6px black;
cursor: pointer;
}

button:hover{
background-color: steelblue;
}
        
